* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html, body {
    font-size: 20px;
}

body {
    background-color: crimson;
}
p{
    text-align:justify;
    padding:4px 7px 2px 4px;
}

#page-time {
    display: block;
    font-size: 2rem;
}

img {
    display: block;
    width: 25%;
    height:25%;
    margin: auto;

}

figure {
    flex-flow: column;
    display: block;
    padding: 5px; 
    margin: 2rem;
}

figcaption {
    background-color: coral;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
